header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /*background-color: #333; /* Color de fondo oscuro */
  color: white; /* Color de texto blanco */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

header.navbar img {
  width: 100px; /* Ancho del logo */
  height: auto;
}

header.navbar div {
  display: flex;
  gap: 15px;
  align-items: center;
}
header.navbar a.h6 {
  text-decoration: none;
  color: inherit; /* Color por defecto */
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s, transform 0.3s ease; /* Transición suave */
}

header.navbar a.h6:hover {
  color: white !important; /* Cambio de color al pasar el mouse */
  transform: scale(1.1); /* Efecto de agrandar ligeramente al hacer hover */
}

header.navbar span.h6 {
  color: #ccc; /* Color gris para el separador */
}

header.navbar a.h6:focus {
  outline: none; /* Elimina el borde del enfoque */
  color: white;
}
