<footer style="display: flex; align-items: center; justify-content: flex-start; gap: 20px; padding-right: 40px;">
  <div>
    <img alt="logo" title="Senior Talent" src="../../assets/TALENT_SENIOR_sense_fondo.png" width="240px"/>
  </div>
  <div style="font-size: 16px; width: 75%; padding-left: 10px;">
    <p>Queremos aportar soluciones efectivas a la empleabilidad del <strong>talento </strong> de los profesionales mayores de 50 años.</p>
    <p>Aportamos un portal de empleo gratuito para facilitar la comunicación entre empleadores y candidatos. No solicitamos ni custodiamos informacion personal ni interferimos en el proceso de selección.</p>
  </div>
</footer>
