<!-- <footer>
  <div>
    <img alt = "logo" title="Senior Talent" src="../../assets/TALENT_SENIOR_sense_fondo.png" width="240px"/>

  </div>
  <div style="font-size: 16px;width: 75%;">
      <p> Queremos aportar soluciones efectivas a la optimización del <strong>talento de profesionales</strong> mayores de 50 años.</p>
      <p>Impulsamos el calce perfecto entre las necesidades de talento del mundo empresarial, principalmente de PYMES y Startups con el activo desaprovechado de profesionales sobre 50 años que se encuentran en condiciones de entregar todo su conocimiento y experiencia, en formatos flexibles y al alcance del negocio.</p>
  </div>


</footer> -->


<footer style="display: flex; align-items: center; justify-content: flex-start; gap: 20px; padding-right: 40px;">
  <div>
    <img alt="logo" title="Senior Talent" src="../../assets/TALENT_SENIOR_sense_fondo.png" width="240px"/>
  </div>
  <div style="font-size: 16px; width: 75%; padding-left: 10px;">
    <p>Queremos aportar soluciones efectivas a la optimización del <strong>talento de profesionales</strong> mayores de 50 años.</p>
    <p>Impulsamos el calce perfecto entre las necesidades de talento del mundo empresarial, principalmente de PYMES y Startups con el activo desaprovechado de profesionales sobre 50 años que se encuentran en condiciones de entregar todo su conocimiento y experiencia, en formatos flexibles y al alcance del negocio.</p>
  </div>
</footer>