.texto {
  flex-grow: 1; /* para que ocupe el espacio restante */
  text-align: center;
}

.enlaces a {
  margin-left: 20px; /* espacio entre enlaces */
  color: white;
  text-decoration: none;
}

/* Opcional: Estilos para los enlaces cuando se pasan sobre ellos */
.enlaces a:hover {
  text-decoration: underline;
}
