<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="full-page">
  <header class="navbar" style="display: flex; justify-content: space-between; align-items: center; padding: 10px;">
    <img alt="logo" title="Senior Talent" src="../../assets/TALENT_SENIOR_sense_fondo.png" width="100px"/>
  </header>
  <nav>
    <div class="menuitem">
      <a routerLink="/">Página principal</a>
    </div>
  </nav>
  <main>
    <app-cv></app-cv>

    <div style="height: 30px;"></div>

    <app-inscritos></app-inscritos>

  </main>

  <app-footer></app-footer>

</body>
</html>
