

<h1>OFERTA DE PUESTO DE TRABAJO</h1>

<section>
<form class="form-horizontal">
<fieldset>
<!-- Form Name -->
<legend>Candidato</legend>

<div class = "contenedor">
    <!-- Text input-->
    <div class="columna">
      <label for="nombre">Puesto de trabajo</label>
      <div>
      <input id="nombre" name="nombre" type="text" placeholder="Puesto de Trabajo">
      </div>
    </div>

    <!-- Text input-->
    <div class="columna">
      <label for="localidad">Localidad</label>
      <div>
      <input id="localidad" name="localidad" type="text" placeholder="Localidad">
      </div>
    </div>

</div>

<div class="contenedor">
  <div class="columna">
    <label for="presentacion">Funciones y condiciones labolarales</label>
    <div>
      <input id="direccion" name="direccion" type="text" placeholder="Funciones y condiciones labolarales">
    </div>
  </div>
</div>


</fieldset>

</form>

</section>