.contenedor {
  display: flex;
  flex-direction: row;
}

.columna {
  width: 100%;
  padding: 1px 20px;
  border-radius: 5px;
}


.accio {
padding: 1px 5px; /* Elimina el padding para que no afecte al tamaño del botón */
}

