<section>
<form class="form-horizontal" >
  <fieldset>

    <div *ngFor="let oferta of ofertasFiltradas" class="contenedor">
      <!-- Text input-->
      <div class="columna">
        <div>
        <input id="Fecha de publicación" name="Fecha de publicación" type="text" placeholder="fecha de publicación" >
        </div>
      </div>

      <!-- Text input-->
      <div class="columna">
        <div>
        <input id="Empresa" style="width: 250px;"name="Empresa" type="text" placeholder="Empresa">
        </div>
      </div>

      <!-- Text input-->
      <div class="columna">
        <div>
        <input id="nompuesto" style="width: 250px;" name="nompuesto" type="text" placeholder="Nombre Puesto">
        </div>
      </div>

      <!-- Button -->
      <div class="columna">
        <div>
          <button (click)="irAmpList('oferta')" id="entrar" name="entrar" class="btn btn-primary">Ampliar</button>
        </div>
      </div>

      <!-- Button -->
      <div class="accio">
        <div>
          <button id="entrar" name="entrar" class="btn btn-primary">V</button>
        </div>
      </div>
      <!-- Button -->
      <div class="accio">
        <div>
          <button id="entrar" name="entrar" class="btn btn-primary">A</button>
        </div>
      </div>
      <!-- Button -->
      <div class="accio">
        <div>
          <button id="entrar" name="entrar" class="btn btn-primary">R</button>
        </div>
      </div>

  </div>

  </fieldset>
  </form>

</section>
