.alinear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding: 10px 0;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.titol, .linees {
  flex: 1;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  padding: 0 10px;
}

.titol {
  font-weight: bold;
}

.linees {
  font-weight: normal;
}

.linees button {
  padding: 5px 10px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.alinear + .alinear {
  border-radius: 5px;
}
