/* .form-horizontal {
  display: flex;
  justify-content: center;
  align-items: center; */
  /*height: 100vh; /* Ocupa toda la altura de la ventana */
/*   margin: 0;
  padding: 0; */
  /*background-color: #f4f4f4; /* Fondo opcional */
/* } */

.contenedor {
  display: flex;
  flex-direction: row;
}

.columna {
  width: 100%;
  padding: 1px 20px;
  border-radius: 5px;
}

