<!-- <h2>Log in</h2>
<form (ngSubmit)="submit()">
  <div>
    <label for="username">Usuario:</label>
    <input id="username" type="text" [(ngModel)]="username" name="username" required />
  </div>

  <div>
    <label for="password">Contraseña:</label>
    <input id="password" type="password" [(ngModel)]="password" name="password" required />
  </div>

  <div>
    <label for="type">Tipo:</label>
    <select id="type" [(ngModel)]="type" name="type" required>
      <option value="company">Empresa</option>
      <option value="candidate">Candidato</option>
    </select>
  </div>

  <div class="actions">
    <button type="button" (click)="close()">Cancelar</button>
    <button type="submit">Iniciar sesión</button>
  </div>
</form> -->


<div class="login">
  <form class="custom-form" method="post">
    <h1>Login</h1>
    <input
      type="username"
      [(ngModel)]="username"
      name="username"
      placeholder="username"
      required="required"
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required="required"
    />

    <div>
      <label for="type">Tipo</label>
      <select id="type" [(ngModel)]="type" name="type" required>
        <option value="company">Empresa</option>
        <option value="candidate">Candidato</option>
      </select>
    </div>

    <button type="submit" (click)="login()">Log in</button>
  </form>
</div>
